/** header icons **/
.icon-48-seminarman			{ background-image: url(../images/icon-48-seminarman.png); }
.icon-48-applications		{ background-image: url(../images/icon-48-applications.png); }
.icon-48-salesprospects		{ background-image: url(../images/icon-48-inter.png); }
.icon-48-courses			{ background-image: url(../images/icon-48-courses.png); }
.icon-48-templates			{ background-image: url(../images/icon-48-templates.png); }
.icon-48-templateedit		{ background-image: url(../images/icon-48-templateedit.png); }
.icon-48-tutors				{ background-image: url(../images/icon-48-tutors.png); }
.icon-48-jobseekers			{ background-image: url(../images/icon-48-jobseekers.png); }
.icon-48-courseedit			{ background-image: url(../images/icon-48-courseedit.png); }
.icon-48-tags				{ background-image: url(../images/icon-48-tags.png); }
.icon-48-tagedit			{ background-image: url(../images/icon-48-tagedit.png); }
.icon-48-qfcategories		{ background-image: url(../images/icon-48-categories.png); }
.icon-48-qfcategoryedit		{ background-image: url(../images/icon-48-categoryedit.png); }
.icon-48-qfarchive			{ background-image: url(../images/icon-48-archive.png); }
.icon-48-qfeditcss			{ background-image: url(../images/icon-48-editcss.png); }
.icon-48-qffilemanager		{ background-image: url(../images/icon-48-filemanager.png); }
.icon-48-qffile				{ background-image: url(../images/icon-48-file.png); }
.icon-48-stats				{ background-image: url(../images/icon-48-stats.png); }
.icon-48-sitzung            { background-image: url(../images/icon-48-sitzung.png); }
.icon-48-smconfig			{ background-image: url(../images/icon-48-config.png); }

/** tag selection */
.qf_tagline { 
	width: auto;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.qf_tag {
	width: 150px;
	display: block;
	float: left;
	margin: 2px 2px;
}

.qf_tagbox {
	display: block;
	max-height: 150px;
  	overflow: auto;	
}

.qf_tagidbox {
	width: 20px;
	display: block;
	float: left;
}

.qf_addtag { 
	margin-top: 10px;
}

.qf_centerimg {
	text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.clear
{ border: 0; clear: both; float: none; font-size: 1px; height: 0; line-height: 1px; margin: 0; padding: 0; visibility: hidden;}

/** state toggler */
#statetoggler {
	list-style:none;
}

.options {
	position: absolute;
}

#statetoggler li ul li {
	border: #ddd 1px solid;
	background: none;
	background-color: #ffffff;
	color: #000000;
	padding: 2px;
	list-style:none;
}

#statetoggler li ul li img {
	padding:3px;
}

/** rating bar **/
.qf_ratingbarcontainer {
	border: 1px solid #999999;
	height: 10px;
	width: 60px;
	margin: 2px 2px;
	display: block;
}
.qf_ratingbar {
	background-color: silver;
	height: 10px;
	display: block;
}

/**
 * Upload Widget CSS
 */
.upload-queue {
	list-style: none;
}

.upload-queue li {
	background: url(../images/upload.png) no-repeat 0 5px;
	padding: 5px 0 5px 22px;
}

.upload-queue .queue-file {
	font-weight: bold;
}

.upload-queue .queue-size {
	color: #aaa;
	margin-left: 1em;
	font-size: 0.9em;
}

.upload-queue .queue-loader {
	position: relative;
	margin: 3px 15px;
	font-size: 0.9em;
	background-color: #ddd;
	color: #fff;
	border: 1px inset #ddd;
}

.upload-queue .queue-subloader {
	text-align: center;
	position: absolute;
	background-color: #81B466;
	height: 100%;
	width: 0%;
	left: 0;
	top: 0;
}

.upload-queue .input-delete {
	width: 16px;
	height: 16px;
	background: url(../images/delete.png) no-repeat 0 0;
	text-decoration: none;
	border: none;
	float: right;
}

/* set the image to use and establish the lower-right position */ 
.cssbox, .cssbox_body, .cssbox_head, .cssbox_head h2{ 
	background: transparent url(../images/qfbox.png) no-repeat bottom right
	}
.cssbox{ 
	/* intended total box width - padding-right(next) */ 
	width:535px !important;
	/* IE Win = width - padding */ 
	width: 520px;
	/* the gap on the right edge of the image (not content padding) */ 
	padding-right:15px;
	/* use to position the box */ 
	margin: 20px;
/*	float: left*/
}
/* set the top-right image */ 
.cssbox_head{
	background-position:top right;
	/* pull the right image over on top of border */ 
	margin-right:-15px;
	/* right-image-gap + right-inside padding */ 
	padding-right:40px
}

/* set the top-left image */ 
.cssbox_head h2{ 
	background-position:top left; 
	margin:0;
	/* reset main site styles*/ 
	border:0;
	/* ditto */ 
	/* padding-left = image gap + interior padding ... no padding-right */ 
	padding:25px 0 15px 40px;
	height:auto !important;
	height:1% 
}/* IE Holly Hack */ 

/* set the lower-left corner image */ 
.cssbox_body{ 
	background-position:bottom left; 
	margin-right:25px;/* interior-padding right */ 
	padding:15px 0 15px 40px
}
/* mirror .cssbox_head right/left */

/***** VALIDITY TRANS ****/

/* moved from atgroup/tmpl/form.php */
table.paramlist td.paramlist_key {
		width: 92px;
		text-align: left;
		height: 30px;
}

.no_space_table {
    border: none;
    width: 100%;
    border-spacing: 0px;
    padding: 0px;
}

.no_space_table td {
    padding: 0px;
}

.category_td {
    width: 320px;
    padding: 9px 0 0 5px ! important;
}

.category_image {
    width: 80px;
    height: 80px;
    border: 2px solid;
}

.category_icon {
    width: 16px;
    height: 16px;
    border: 2px solid;
}

.seminarman_icon {
    width: 16px;
    height: 16px;
    border: none;
}

.category_textarea {
    width: 300px;
}

.course_table {
    width: 100%;
    border: 1px dashed silver;
    padding: 5px;
    margin-bottom: 10px;
}

.emailtemplate_table {
    border-spacing: 5px;
    border: none;
    width: 100%;
}

.emailtemplate_table td {
    padding: 0;
}

.editcss_textarea {
    width: 100%;
    height: 500px;
}

.centered {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.floleft {
    float: left;
}

.floright {
    float: right;
}

.vtop {
    vertical-align: top;
}

.small {
    font-size: 0.8em;
}

.italic {
    font-style: italic;
}

.cellspace1 {
    border-spacing: 1px;
}
.clean_bg {
    background-color: #EEEEEE;
}

.cclear {
    clear: both;
}

.tlfixed {
    table-layout: fixed;
}

.nothing {
    display: none;
}

.red {
    color: #ff0000 ! important;
    font-weight: normal ! important;
}

/* WIDTH ATTRIBUTES*/
.proc1 {
    width: 1%;
}

.proc2 {
    width: 2%;
}

.proc3 {
    width: 3%;
}

.proc5 {
    width: 5%;
}

.proc6 {
    width: 6%;
}

.proc7 {
    width: 7%;
}

.proc8 {
    width: 8%;
}

.proc10 {
    width: 10%;
}

.proc12 {
    width: 12%;
}

.proc13 {
    width: 13%;
}

.proc15 {
    width: 15%;
}

.proc17 {
    width: 17%;
}

.proc15 {
    width: 15%;
}

.proc20 {
    width: 20%;
}

.proc30 {
    width: 30%;
}

.proc35 {
    width: 35%;
}

.proc80 {
    width: 80%;
}

.proc98 {
    width: 98%;
}

.proc100 {
    width: 100%;
}

.pix1 {
    width: 1px;
}

.pix2 {
    width: 2px;
}

.pix3 {
    width: 3px;
}

.pix5 {
    width: 5px;
}

.pix7 {
    width: 7px;
}

.pix8 {
    width: 8px;
}

.pix15 {
    width: 15px;
}

.pix20 {
    width: 20px;
}

.pix45 {
    width: 45px;
}
.pix100 {
    width: 100px;
}

.pix120 {
    width: 120px;
}

.pix175 {
    width: 175px;
}
.pix600 {
    width: 600px;
}

.hepix20 {
    height: 20px;
}

.heproc15 {
    height: 15%;
}

img.calendar {
	vertical-align: bottom;
}

li.fltlft {
	margin-left: 30px ! important;
}